RewriteEngine On
Options -MultiViews
DirectoryIndex index.php

RewriteCond %{REQUEST_URI} ^/public/ [NC]
RewriteRule ^public/ - [L]

RewriteRule ^assets/(.*)$ public/assets/$1 [L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^$ public/index.php [QSA,L]
RewriteRule ^ index.php [QSA,L]
